/ejemplos-relaciones-clases/EjemploRelaciones/build/
/ejemplos-relaciones-clases/EjemploRelaciones/nbproject/private/
/ejemplos-relaciones-clases/EjemplosRelacionesDos/build/
/ejemplos-relaciones-clases/EjemplosRelacionesDos/nbproject/private/
/ejemplos-relaciones-clases/ProblemaFacturaUsuario/build/
/ejemplos-relaciones-clases/ProblemaFacturaUsuario/nbproject/private/
